.Icon{   
    font-size: 30px;
    background-color: #1e4e91;
    color: #e3e5e8;
    opacity: 1;
    transition: background-color 0.3s ease;
}

.outerBox{
 
    padding: 2px 3px;
}

.footerBox{
    
    padding: 6px;
    border: 1.5px solid;
    border-radius: 9px !important;
    margin: 14px 6px;

}

.card-body {
  
    height: 75vh;
    overflow-y: scroll;
}
.rm-bt{
    text-decoration: none;
    border: none;
}
.boxClient:focus{
    background-color: #e3e5e8;
}
.title{
    font-family: sans-serif;
    padding-left: 15px;
    padding-top: 4px;
}

.cliendProfile{
    background-color: #e3e5e8;
}
.clientName{
    font-size:small;
    font-weight: 700;
}
.client-type{
    font-size:smaller;
}
.smallText{
    font-size: small;
    font-family:sans-serif;
}
p{
    margin-bottom: 0;
}
#setSize{
    position: relative;
    top: 2px;
    font-size :large;
}

.Icon:hover{
    color: #1e4e91;
    background-color: #e3e5e8;
    
}
.small{
    font-size: 13px;
}
.footerBox input{
    background-color: #e3e5e8;
}
.card-header{
    background-color: #efefef;
    --mdb-card-header-border-width: 0px;
    box-shadow: none;
    border-radius: 0px !important;
}

.card{
    background: #e3e5e8;
}


.messageBody{
    background-color: #e3e5e8;
}

.Icon:focus{
    color: #1e4e91;
    background-color: #e3e5e8;
}


#chat2 .form-control {
    border-color: transparent;
  }
  
  #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }