.Icon{   
    font-size: 30px;
    background-color: #1e4e91;
    color: #e3e5e8;
    opacity: 1;
    transition: background-color 0.3s ease;
}

.facebook-Btn{
    width: 100%;
    background: #1976d2;
    border: none;
    padding: 9px 23px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;

}
.outerBox{
 
    padding: 2px 3px;
}

.footerBox{
    
    padding: 6px !important;
    border: 1.5px solid !important;
    border-radius: 11px !important;
    margin: 11px 25px;
    background-color: #e3e5e8 !important;

}

.chatHeader{
    height: 43px;
    border-bottom: 1px solid #e0e0e0 !important;
    background-color: #fbfcfe !important;
}



.card-body {
  
    height: 77vh;
    overflow-y: scroll;
}
.rm-bt{
    text-decoration: none;
    border: none;
}
.boxClient{
    background-color: #e3e5e8;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}
.boxClient:focus{
    background-color: #e3e5e8;
}
.title{
    font-family: sans-serif;
    padding-left: 15px;
    padding-top: 4px;
}

.cliendProfile{
    background-color: #e3e5e8;
}
.clientName{
    font-size:small;
    font-weight: 700;
}
.client-type{
    font-size:smaller;
}
.smallText{
    font-size: small;
    font-family:sans-serif;
}
p{
    margin-bottom: 0;
}
#setSize{
    position: relative;
    top: 2px;
    font-size :large;
}

.Icon:hover{
    color: #1e4e91;
    background-color: #e3e5e8;
    
}
.small{
    font-size: 13px;
}
.footerBox input{
    background-color: #e3e5e8 !important;
}
.card-header{
    background-color: #efefef;
    --mdb-card-header-border-width: 0px;
    box-shadow: none;
    border-radius: 0px !important;
}

.addedToCard{
    box-shadow: none !important;
    background-color: #e3e5e8 !important;
}


.messageBody{
    background-color: #e3e5e8;
}

.Icon:focus{
    color: #1e4e91;
    background-color: #e3e5e8;
}


#chat2 .form-control {
    border-color: transparent;
    
  }
  
  #chat2 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }